# Configuration file for the GangliaRest Service
#
# This config file is read only once at startup. You must run
# service GangliaRest restart to re-read any changes.
#
# See the README for more info on options below
# or: https://github.com/dcarrollno/Ganglia-Modules/tree/master/GangliaRest
#
# Dave Carroll - davecarrollno@gmail.com 2016
#
#
# Make sure you have Redis running prior to starting GangliaRest

[Globals]
;
# IP to listen on -typically 0.0.0.0, but can specify an internal IP
restHost=0.0.0.0
;
# Port to listen on
# Note, this should be on an internal interface, not exposed to the web
restPort=8653
;
# Log file and location to send debugging info to
logfile=/var/log/GangliaRest.log
;
# Log Level: DEBUG, INFO, WARN, CRIT
logLevel=DEBUG
;
# State file - where we will print simple metrics around reqs, resps, errors 
statsFile=/tmp/gangliaRest.state
;
# Your domain name here - we use this for fqdn metrics - you must edit this
domain=example.com
;
# Directory where RRDs are stored -typically /var/lib/ganglia/rrds
rrdDir=/var/lib/ganglia/rrds
;
[Redis]
;
#Your redis.conf location and name. Some folks use per port confs
redisConf=/etc/redis.conf
;
# Redis Host, typically localhost for this setup
redisHost=localhost
;
# Redis Port, typically 6379
redisPort=6379
;
# Redis DB - here you can set a DB instance if you have more than one running
redisDb=1
;
# RedisTtl - Set a cache expiration on indexed directories
redisTtl=86400
;
# Redis Password
redisAuth=redispw
;
[Indexer]
;
# IndexFreq - how often in secs should the Ganglia RRD fs be indexed into Redis. Default: hourly 
indexFreq=3600
