#
# Ganglia DynamicGraph
#     by: Dave Carroll
#
# This program dynamically sweeps Ganglia metrics as defined
# in this config file.
#

[Globals]
# Where we hold dynamically generated json
GraphDir =/var/www/html/ganglia3/graph.d

# Where we hold the RRD databases Ganglia uses
RRDDIR =/var/lib/ganglia/rrds

# Logfile to debugging
logfile =/var/log/Dynamic_Graph.log

# Frequency of DynamicGraph Sweeper - will run every 60 secs by default
runTime=60

# Expiration time of metrics
expireTime=60

# How many metrics purged on each sweep
purged_metric_count=/tmp/purged_metric_count

# How many errors encountered on each sweep
purged_error_count=/tmp/purged_error_count

# Number of top metrics  to display (default 5)
numMetrics=5
;
# Below we define our clusters and metrics to dymamically sweep. Each cluster is defined in a top
# section. Below that, we define which metrics are to be dynamic and swept.
# Each cluster is prefixed with Cluster_ and the name must match an
# actual cluster name.
;
[Cluster_IT-Servers]
metrics=swapping_
;
